Package: com.shalamand3r.livesafarireborn
Name: LiveSafariReborn
Depends: firmware (>= 15.0), mobilesubstrate
Version: 2.0
Architecture: iphoneos-arm64
Description: Make Safari's icon point north
Icon: https://github.com/shalamand3r/shalamand3r.github.io/blob/main/icons/livesafarireborn.png?raw=true
SileoDepiction: https://raw.githubusercontent.com/shalamand3r/shalamand3r.github.io/refs/heads/main/depictions/livesafarireborn.json
Maintainer: Skitty/shalamand3r
Author: Skitty/shalamand3r
Section: Tweaks
